#commentary-container {
    position: absolute;
    left: 732px;
    top: 297px;
    width: 456px;
    height: 308px;
}

#comm-title {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 456px;
    height: 48px;

    font-size: 36px;
    line-height: 42px;
    color: #F2FBFF;
    text-align: center;
}

#comm-names {
    display: flex;
    flex-direction: column;

    position: absolute;
    left: 0px;
    top: 50px;
}

.comm-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 456px;
    height: 86px;

    font-size: 36px;
    line-height: 42px;
    color: #000A14;
    text-align: center;
}

.runner-name {
    width: 472px;
    height: 75px;

    font-size: 48px;
    line-height: 75px;
    color: #F2FBFF;
}

#runner1 {
    position: absolute;
    text-align: left;
    left: 8px;
    top: 413px;
}

#runner2 {
    position: absolute;
    text-align: right;
    left: 1440px;
    top: 413px;
}

#runner3 {
    position: absolute;
    text-align: left;
    left: 8px;
    top: 903px;
}

#runner4 {
    position: absolute;
    text-align: right;
    left: 1440px;
    top: 903px;
}